apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: notes-app
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: notes-app
spec:
  project: default
  source:
    repoURL: https://github.com/Chenarrr/k8s-Infra-.git
    targetRevision: HEAD
    path: .
  destination:
    server: https://kubernetes.default.svc
    namespace: notes-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
