apiVersion: apps/v1
kind: Deployment
metadata:
  name: TO_DO
  labels:
    app: TO_DO
spec:
  replicas: 2
  selector:
    matchLabels:
      app: TO_DO
  template:
    metadata:
      labels:
        app: TO_DO
    spec:
      containers:
      - name: TO_DO
        image: chenarrr/devops:tagname
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 20
