---
- name: Initialize Kubernetes master
  ansible.builtin.command: kubeadm init --pod-network-cidr=10.244.0.0/16
  args:
    creates: /etc/kubernetes/admin.conf

- name: Set up kubeconfig for admin user
  ansible.builtin.command: >
    mkdir -p $HOME/.kube && \
    sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config && \
    sudo chown $(id -u):$(id -g) $HOME/.kube/config
  become: true
  become_user: ubuntu

- name: Install Flannel CNI
  ansible.builtin.command: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml
  environment:
    KUBECONFIG: /etc/kubernetes/admin.conf

- name: Get kubeadm join command
  ansible.builtin.command: kubeadm token create --print-join-command
  register: join_command

- name: Save join command to file
  ansible.builtin.copy:
    dest: /tmp/kubeadm_join_cmd.sh
    content: "{{ join_command.stdout }}\n"
    mode: '0644'
